@charset "UTF-8";
/* Formateo inicial de espacios y bordes */
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Playfair+Display:ital@0;1&family=Source+Sans+3:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

.col-brand {
  color: #fdf7f7;
  background-color: #05283d;
}

.col-dark {
  color: #40e0d0;
  background-color: #05283d;
}

.grid-container {
  display: grid;
}

/* Formato inicial de fuente para el sitio web */
html {
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  color: #fdf7f7;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

.titulo-brand {
  font-family: "Fjalla One", sans-serif;
  font-size: 70px;
}
.titulo-cabecera {
  font-family: "Fjalla One", sans-serif;
  text-align: center;
  font-size: 70px;
}
@media screen and (min-width: 1024px) {
  .titulo-cabecera {
    font-size: 100px;
  }
}
.titulo-seccion {
  font-family: "Fjalla One", sans-serif;
  text-align: center;
  font-size: 40px;
}
@media screen and (min-width: 1024px) {
  .titulo-seccion {
    font-size: 50px;
  }
}

h2 {
  font-family: "Fjalla One", sans-serif;
}

a,
.text-link {
  color: #40e0d0;
  text-decoration: none;
}
a:hover,
.text-link:hover {
  color: #fdf7f7;
}

button {
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  button {
    font-size: 18px;
  }
}

.centrado {
  margin-top: 12.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.centrado .slider-container {
  display: flex;
  width: 100%;
  height: 40vh;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.centrado .slider-container img {
  flex: 0 0 100%;
  width: 100%;
  object-fit: cover;
  scroll-snap-align: center;
}
.centrado .container {
  background-color: #05283d;
  color: #fdf7f7;
  padding: 15px;
  margin: 2.5vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 769px) {
  .centrado .container {
    /* En pantallas de ordenador, ocupa el 80% del ancho */
    width: 80%;
    border-radius: 10px;
  }
}
.centrado .container .sesiones-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: column;
  align-content: center;
}
.centrado .container .sesiones-container .sesion-card {
  border: 1px solid #fdf7f7;
  padding: 10px;
  border-radius: 8px;
  width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.centrado .container .sesiones-container .sesion-card .sesion-info {
  margin: 0;
  padding: 5px;
}
.centrado .popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #154766;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: slideIn 0.3s ease;
}
@media (min-width: 769px) {
  .centrado .popup-container {
    /* En pantallas de ordenador, ocupa el 80% del ancho */
    width: 80vw;
    border-radius: 10px;
  }
}
.centrado .popup-content {
  background: #154766;
  padding: 20px;
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  grid-template-rows: 5rem 1fr;
  overflow-y: scroll;
  justify-items: center;
}
@media (min-width: 769px) {
  .centrado .popup-content {
    /* En pantallas de ordenador, ocupa el 80% del ancho */
    width: 80vw;
    border-radius: 10px;
  }
}
.centrado .close-popup {
  position: absolute;
  color: #fdf7f7;
  top: 5px;
  right: 25px;
  font-size: 40px;
  cursor: pointer;
}
.centrado .close-popup:hover {
  color: #ff6f61;
}
@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.centrado #ticket-types-container {
  display: grid;
  grid-gap: 1.5rem;
  justify-content: center;
  /* height: 50%; */
  max-height: 90%;
  overflow: scroll;
  padding: 0 1rem;
}
.centrado .ticket-container {
  background-color: #05283d;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  width: 85vw;
  flex-direction: row;
  justify-content: space-between;
}
@media (min-width: 769px) {
  .centrado .ticket-container {
    width: 60vw;
    border-radius: 10px;
  }
}
.centrado .information-container {
  display: grid;
  justify-items: center;
  align-items: start;
  width: 50vw;
  font-size: 1.5rem;
}
.centrado .information-container > p:first-child {
  font-size: 2.5rem;
}
.centrado .buy-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr 1fr;
  width: 20vw;
  align-items: center;
  justify-items: center;
}
.centrado .buy-container > *:first-child {
  font-size: 2rem;
  grid-row: 2;
  background: transparent;
  border: solid #40e0d0;
  color: #40e0d0;
  text-align: center;
  border-radius: 4px;
}
.centrado #final-price {
  font-size: 2rem;
}

/* El contenedor padre ocupa todo el alto de pantalla y contendrá el nav y el main en forma de columna */
body,
html {
  background-color: #154766;
  height: 100%;
}

body > .grid-container {
  grid-template-rows: 15% 1fr;
  height: 100vh;
}
@media screen and (min-width: 426px) {
  body > .grid-container {
    grid-template-rows: auto 1fr;
  }
}

.nav {
  position: sticky;
  z-index: 100;
}
.nav .nav-main {
  padding: 0 1rem;
}
.nav .filter-categories {
  margin: 0 1rem;
}

.body-container {
  padding: 1rem;
  overflow-y: auto;
}
.body-container main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
}
.body-container main .titulo-cabecera {
  margin: 2rem 0;
}
.body-container main .titulo-seccion {
  margin: 1.5rem 0;
}
.body-container main .main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
@media screen and (min-width: 765px) {
  .body-container main .main-content {
    max-width: 90%;
  }
}

nav {
  color: #fdf7f7;
  background-color: #05283d;
  display: grid;
  grid-template-rows: max-content max-content;
  height: max-content;
  max-height: 16vh;
}
nav div.nav-main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
nav form {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
nav form input {
  padding: 0.2rem;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  max-width: 120px;
  height: 2rem;
}
@media screen and (min-width: 768px) {
  nav form input {
    max-width: 140px;
  }
}
@media screen and (min-width: 1024px) {
  nav form input {
    max-width: 200px;
  }
}
nav a {
  text-decoration: none;
}
nav a img {
  width: 50px;
  height: 100%;
}
nav ul {
  display: none;
  flex-flow: row wrap;
  height: 100%;
}
nav ul li {
  height: inherit;
  list-style: none;
}
nav ul li a {
  display: flex;
  text-decoration: none;
  color: inherit;
  height: inherit;
  align-items: center;
}
@media screen and (min-width: 768px) {
  nav ul li a {
    padding: 0 1rem;
  }
  nav ul li a:hover {
    color: #40e0d0;
  }
  nav ul li a.nav-active {
    color: #40e0d0;
    border-top: 2px solid #40e0d0;
  }
  nav ul li a.nav-active:hover {
    cursor: default;
  }
}
nav ul.opened {
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  height: 90vh;
  top: 8vh;
  left: 0;
  width: 100%;
  background-color: #05283d;
  z-index: 1000;
}
nav ul.opened li {
  height: auto;
}
nav ul.opened li a {
  height: fit-content;
  padding: 1.6rem;
  font-size: 18px;
  box-shadow: 0 1px 3px;
}
nav ul.opened li a.nav-active {
  border-left: 10px solid #40e0d0;
  color: #40e0d0;
}
@media screen and (min-width: 768px) {
  nav ul {
    display: flex;
  }
}
nav .filter-categories {
  scrollbar-width: none;
  display: flex;
  align-items: center;
  text-align: center;
  overflow-x: scroll;
}
@media screen and (min-width: 768px) {
  nav button#menu-toggle {
    display: none;
  }
}

.add-event {
  width: 16rem;
  padding: 1.2rem;
}

.promotor-container {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.promotor-container .event-card {
  width: 18rem;
  height: 22rem;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: #05283d;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.promotor-container .event-card h3,
.promotor-container .event-card .img {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.promotor-container .event-card .img {
  width: 90%;
  height: 70%;
}
.promotor-container .event-card .img img {
  flex: 0 0 100%;
  width: 100%;
  object-fit: cover;
}
.promotor-container .event-card:hover {
  cursor: pointer;
}
.promotor-container .event-card:hover .img,
.promotor-container .event-card:hover h3 {
  opacity: 0;
}
.promotor-container .event-card:hover .edit-icon {
  display: grid;
  justify-items: center;
}
.promotor-container .event-card:hover .edit-icon i {
  font-size: 2rem;
  padding: 0.8rem;
}
.promotor-container .event-card:hover .edit-icon p {
  font-size: 1.5rem;
}
.promotor-container .event-card .edit-icon {
  position: absolute;
  display: none;
}

.button {
  font-size: 110%;
  width: 100%;
  border-radius: 4px;
  transition: 0.2s ease;
  padding: 0.6rem 1rem;
  text-decoration: none;
}
.button i {
  font-size: 1.5rem;
}
.button:hover {
  cursor: pointer;
}
.button-brand {
  color: #40e0d0;
  background-color: #05283d;
  background-color: transparent;
  border: 2px solid #40e0d0;
}
.button-brand:hover {
  border: 2px solid #40e0d0;
  background-color: #40e0d0;
  color: #05283d;
}
.button-danger {
  color: #ff6f61;
  background-color: transparent;
  border: 2px solid #ff6f61;
  font-weight: bold;
}
.button-danger:hover {
  color: #fdf7f7;
  background-color: #ff6f61;
  font-weight: bolder;
}
.button-dark {
  color: #fdf7f7;
  background-color: #05283d;
  border: 1px solid #05283d;
}
.button-dark:hover {
  background-color: transparent;
  color: #05283d;
  border: 1px solid #05283d;
}
.button-filter {
  background-color: transparent;
  color: #fdf7f7;
  padding: 1rem;
}
.button-filter:hover {
  color: #40e0d0;
  cursor: pointer;
}
.button-icon {
  height: 2rem;
  max-width: 2rem;
  color: #fdf7f7;
  background-color: transparent;
}
.button-icon i {
  font-size: 1.5rem;
}
.button-icon:hover {
  color: #40e0d0;
}
.button-search {
  color: #40e0d0;
  background-color: #05283d;
  height: 2rem;
  max-width: 2rem;
  padding: 0.6rem;
  border: 2px solid #40e0d0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.button-search i {
  font-size: 1.5rem;
}
.button-search:hover {
  color: #05283d;
  background-color: #40e0d0;
}
.button-search i {
  font-size: 1.2rem;
}
.button-logo {
  padding-left: 0;
}

a.button,
button.button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
}

nav .button-icon i.fa-bars-staggered {
  color: #40e0d0;
}
nav .button-icon i.fa-bars {
  color: #fdf7f7;
}

.button-category {
  font-size: 110%;
  width: 100%;
  border-radius: 4px;
  transition: 0.2s ease;
  padding: 0.6rem 1rem;
  text-decoration: none;
}
.button-category:hover {
  background-color: #40e0d0;
  color: #05283d;
}

.events-card {
  border-radius: 8px;
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  min-width: 70%;
  margin: 2rem 2rem 0 0;
  background-color: #05283d;
}
@media screen and (min-width: 765px) {
  .events-card {
    width: fit-content;
    min-width: 30%;
  }
}
.events-card-img {
  height: 50%;
}
.events-card-img img {
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.events-card-data {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 1rem;
}
.events-card-data-name {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}
.events-card-data-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 1.4rem;
  justify-content: space-around;
}
.events-card-data-content-date {
  display: flex;
  flex-direction: column;
  background-color: #fdf7f7;
  color: #154766;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
}
.events-card-data-content-date-day {
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}
.events-card-data-content-date-monthYear {
  display: flex;
  font-weight: bold;
}
.events-card-data-content-date-monthYear-month {
  margin-right: 0.5rem;
}
.events-card-data-content-from {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  align-items: center;
  margin-left: 2rem;
}
.events-card-data-content-from div:first-child {
  font-weight: bold;
  color: #ff6f61;
}
.events-card-data-content-from-price {
  font-weight: bolder;
  white-space: nowrap;
  font-size: 1.5rem;
  border-bottom: 2px solid #ff6f61;
}
.events-card-buy {
  display: flex;
  justify-content: center;
  margin-top: 1.4rem;
}

.default-form > .grid-container {
  padding: 0 1rem;
}
.default-form .grid-container {
  grid-template-columns: 1fr;
  gap: 1.2rem;
}
.default-form .grid-container .input-unit {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 0.3rem;
  align-items: center;
}
.default-form .grid-container .dual-button-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.default-form .grid-container .row-unit {
  display: flex;
  align-items: center;
}
.default-form .grid-container .row-unit label {
  margin-left: 1rem;
}
.default-form .grid-container .row-unit input[type=checkbox],
.default-form .grid-container .row-unit input[type=radio] {
  margin: 0; /* Reset margin */
}
.default-form .grid-container input:not([type=checkbox]):not([type=radio]):not([type=file]),
.default-form .grid-container select,
.default-form .grid-container textarea {
  width: 100%;
  padding: 0.6rem;
  border: 2px solid #fdf7f7;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #05283d;
  color: #fdf7f7;
}
.default-form .grid-container input:not([type=checkbox]):not([type=radio]):not([type=file]):focus,
.default-form .grid-container select:focus,
.default-form .grid-container textarea:focus {
  outline: none;
  border-color: #40e0d0;
  box-shadow: 0 0 5px #40e0d0;
}

form .msg-error {
  color: #da0000;
  padding: 10px;
}
form .msg-correct {
  color: #72c487;
  padding: 10px;
}

/* Estilos generales para la barra de desplazamiento */
/* Para navegadores WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
}
::-webkit-scrollbar-track {
  background-color: #154766; /* Color de fondo del riel */
}
::-webkit-scrollbar-thumb {
  background-color: #40e0d0; /* Color del mango */
  border-radius: 6px; /* Radio de esquinas del mango */
}
::-webkit-scrollbar-button {
  display: none; /* Oculta los botones */
}

/* Estilo del riel (pista) de la barra de desplazamiento */
::-ms-scrollbar {
  width: 12px;
}
::-ms-scrollbar-thumb {
  background-color: #40e0d0;
  border-radius: 6px;
}
::-ms-scrollbar-track {
  background-color: #154766;
}
::-ms-scrollbar-base {
  display: none; /* Oculta la base de la barra de desplazamiento en IE */
}

/* Estilos adicionales para navegadores Firefox (no soportan -webkit-scrollbar)*/
body {
  scrollbar-color: #40e0d0 #154766; /* Establece el color de la barra de desplazamiento y el riel en Firefox */
  scrollbar-width: thin; /* Establece el grosor de la barra de desplazamiento en Firefox */
}

.category-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 90%;
  margin-bottom: 3rem;
}
.category-card-data {
  border-radius: 8px;
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #05283d;
  padding: 1.5rem 2rem;
}
.category-card-data-name {
  font-size: 220%;
  font-weight: bold;
}
.category-card-data-total {
  display: flex;
  flex-direction: column;
}
.category-card-data-total-label {
  text-align: center;
  font-size: 80%;
}
.category-card-data-total-number {
  text-align: center;
  font-size: 200%;
  font-weight: bold;
}
.category-card-events {
  display: flex;
  flex-direction: row;
  min-height: 5rem;
  overflow: auto;
  margin-bottom: 1rem;
}
.category-card-more {
  display: flex;
  justify-content: center;
}

dialog {
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  padding: 1.4rem;
  border-radius: 8px;
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.6);
  color: #fdf7f7;
  background-color: #05283d;
  position: relative;
}
dialog div {
  display: grid;
  grid-auto-columns: 1fr 1fr;
  grid-auto-rows: 1fr 1fr;
  justify-items: center;
}
dialog div p {
  font-size: 2rem;
  grid-column: 1/3;
  padding: 1rem;
}
dialog div #cancelButton {
  grid-column: 1;
  grid-row: 2;
}
dialog div #confirmButton {
  grid-column: 2;
  grid-row: 2;
}
dialog.close-dialog-button {
  position: absolute;
  right: 0;
  top: 0;
}

.session-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: auto;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 2rem;
  border-radius: 10px;
  background-color: #05283d;
}
.session-card-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.session-card-data-name {
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  margin: 1rem 0;
}
.session-card-data-img {
  display: flex;
  width: 100%;
  height: 50%;
}
.session-card-data-date {
  display: flex;
  flex-direction: column;
  background-color: #fdf7f7;
  border-radius: 0.5rem;
  color: #154766;
  padding: 0 0.5rem;
}
.session-card-data-date-day {
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}
.session-card-data-date-monthYear {
  display: flex;
  font-weight: bold;
}
.session-card-data-date-monthYear-month {
  margin-right: 0.5rem;
}
.session-card-data-price {
  font-weight: bold;
  font-size: 1.5rem;
  white-space: nowrap;
  color: #ff6f61;
  margin: 0.1rem;
  padding: 0 1rem;
}
.session-card-locPreu {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 1rem;
}
.session-card-buy {
  display: flex;
  justify-content: center;
  margin: 1rem 0 0 0;
}

.img {
  height: 70%;
}
.img img {
  flex: 0 0 100%;
  width: 100%;
  object-fit: cover;
}

.pdf {
  background-color: white;
  color: black;
}

table {
  width: 100%;
  height: 70vh;
  border: solid 1px rgba(0, 0, 0, 0.253);
  border-radius: 4px;
  background-color: #D9D9D9;
}

.inner-table {
  width: 100%;
  border: none;
  padding: 10px;
}

.first-table tr:last-child {
  text-align: center;
}

.second-table {
  text-align: center;
  border-left: 1px dashed black;
  border-radius: 0px;
}

.logo-img {
  max-width: 100px;
  display: block;
  margin: 0 auto;
}

tr {
  margin-bottom: 10px;
}

.qr-code {
  text-align: center;
}
.qr-code img {
  max-width: 150px;
  display: block;
  margin: 0 auto;
}

hr {
  margin-top: 15px;
  color: #D9D9D9;
}

.oscuro {
  font-family: "Source Sans 3", sans-serif;
  color: #fdf7f7;
  font-weight: normal;
  font-size: 100%;
  margin: 0;
  background-color: #05283d;
}
.oscuro .container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}
.oscuro .container .center {
  max-width: 320px;
  width: 100%;
}
.oscuro .container .center .login {
  width: 100%;
  padding: 50px 30px;
  border: 3px solid #fdf7f7;
  border-radius: 4px;
}
.oscuro .container .center .login .title {
  font-family: "Fjalla One", sans-serif;
  font-size: 250%;
  color: #fdf7f7;
  text-align: center;
  margin-bottom: 2.5rem;
}
.oscuro .container .center .login form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.oscuro .container .center .login input {
  font-family: "Source Sans 3", sans-serif;
  font-size: 110%;
  color: #1b262c;
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 2rem;
  padding: 5px 5px 5px 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
}
.oscuro .container .center .login .footer {
  font-size: 90%;
  text-align: center;
  margin-top: 15px;
}
.oscuro .container .center .login .footer a {
  display: block;
  margin-bottom: 3px;
}
.oscuro .container .center .inferior {
  margin-top: 10px;
  font-size: 90%;
  text-align: center;
}
.oscuro .container .center .inferior a {
  display: block;
  margin-bottom: 3px;
}

/*# sourceMappingURL=style.css.map */
