@charset "UTF-8";
/* Formateo inicial de espacios y bordes */
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Playfair+Display:ital@0;1&family=Source+Sans+3:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

.col-brand {
  color: #fdf7f7;
  background-color: #05283d;
}

.col-dark {
  color: #40e0d0;
  background-color: #05283d;
}

/* Formato inicial de fuente para el sitio web */
html {
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  color: #fdf7f7;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

.titulo-brand {
  font-family: "Fjalla One", sans-serif;
  font-size: 70px;
}

a,
.text-link {
  color: #40e0d0;
  text-decoration: none;
}
a:hover,
.text-link:hover {
  color: #fdf7f7;
}

button {
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  button {
    font-size: 18px;
  }
}

.centrado {
  margin-top: 12.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.centrado .slider-container {
  display: flex;
  width: 100%;
  height: 40vh;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.centrado .slider-container img {
  flex: 0 0 100%;
  width: 100%;
  object-fit: cover;
  scroll-snap-align: center;
}
.centrado .container {
  background-color: #05283d;
  color: #fdf7f7;
  padding: 15px;
  margin: 2.5vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 769px) {
  .centrado .container {
    /* En pantallas de ordenador, ocupa el 80% del ancho */
    width: 80%;
    border-radius: 10px;
  }
}
.centrado .container .sesiones-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: column;
  align-content: center;
}
.centrado .container .sesiones-container .sesion-card {
  border: 1px solid #fdf7f7;
  padding: 10px;
  border-radius: 8px;
  width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.centrado .container .sesiones-container .sesion-card .sesion-info {
  margin: 0;
  padding: 5px;
}

/* El contenedor padre ocupa todo el alto de pantalla y contendrá el nav y el main en forma de columna */
body {
  background-color: #10364e;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

main {
  width: 100%;
  margin-top: 12.5%;
}

nav {
  color: #fdf7f7;
  background-color: #05283d;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
}
@media screen and (min-width: 375px) {
  nav {
    height: 14%;
  }
}
nav div.nav-main {
  height: 10vh;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 0.5rem;
}
nav form {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
nav form input {
  padding: 0.2rem;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  max-width: 120px;
  height: 2rem;
}
@media screen and (min-width: 768px) {
  nav form input {
    max-width: 140px;
  }
}
@media screen and (min-width: 1024px) {
  nav form input {
    max-width: 200px;
  }
}
nav a {
  text-decoration: none;
}
nav a img {
  width: 50px;
  height: 100%;
}
nav ul {
  display: none;
  flex-flow: row wrap;
  height: 100%;
}
nav ul li {
  height: inherit;
  list-style: none;
}
nav ul li a {
  display: flex;
  text-decoration: none;
  color: inherit;
  height: inherit;
  align-items: center;
}
@media screen and (min-width: 768px) {
  nav ul li a {
    padding: 0 1rem;
  }
  nav ul li a:hover {
    color: #40e0d0;
  }
  nav ul li a.nav-active {
    color: #40e0d0;
    border-top: 2px solid #40e0d0;
  }
  nav ul li a.nav-active:hover {
    cursor: default;
  }
}
nav ul.opened {
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  height: 90vh;
  top: 10vh;
  left: 0;
  width: 100%;
  background-color: #10364e;
  z-index: 1000;
}
nav ul.opened li {
  height: auto;
}
nav ul.opened li a {
  height: fit-content;
  padding: 1.6rem;
  font-size: 18px;
  box-shadow: 0 1px 3px;
}
nav ul.opened li a.nav-active {
  border-left: 10px solid #40e0d0;
  color: #40e0d0;
}
@media screen and (min-width: 768px) {
  nav ul {
    display: flex;
  }
}
nav .filter-categories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 0.5rem;
}
@media screen and (min-width: 768px) {
  nav button#menu-toggle {
    display: none;
  }
}

.button {
  font-size: 110%;
  width: 100%;
  border-radius: 4px;
  transition: 0.2s ease;
  padding: 0.6rem 1rem;
  text-decoration: none;
}
.button i {
  font-size: 1.5rem;
}
.button:hover {
  cursor: pointer;
}
.button-brand {
  color: #40e0d0;
  background-color: #05283d;
  background-color: transparent;
  border: 2px solid #40e0d0;
}
.button-brand:hover {
  border: 2px solid #40e0d0;
  background-color: #40e0d0;
  color: #05283d;
}
.button-dark {
  color: #fdf7f7;
  background-color: #05283d;
  border: 1px solid #05283d;
}
.button-dark:hover {
  background-color: transparent;
  color: #05283d;
  border: 1px solid #05283d;
}
.button-filter {
  background-color: transparent;
  color: #fdf7f7;
  padding: 1rem;
}
.button-filter:hover {
  color: #40e0d0;
  cursor: pointer;
}
.button-icon {
  height: 2rem;
  max-width: 2rem;
  color: #fdf7f7;
  background-color: transparent;
}
.button-icon i {
  font-size: 1.5rem;
}
.button-icon:hover {
  color: #40e0d0;
}
.button-search {
  color: #40e0d0;
  background-color: #05283d;
  height: 2rem;
  max-width: 2rem;
  padding: 0.6rem;
  border: 2px solid #40e0d0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.button-search i {
  font-size: 1.5rem;
}
.button-search:hover {
  color: #05283d;
  background-color: #40e0d0;
}
.button-search i {
  font-size: 1.2rem;
}

a.button,
button.button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
}

nav .button-icon i.fa-bars-staggered {
  color: #40e0d0;
}
nav .button-icon i.fa-bars {
  color: #fdf7f7;
}

.events-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: auto;
  flex-wrap: wrap;
  padding: 0.5rem;
  margin: 2rem;
  border-radius: 10px;
  background-color: #05283d;
}
.events-card-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.events-card-data-name {
  text-align: center;
  font-weight: bold;
}
.events-card-data-img {
  display: flex;
  width: 100%;
  height: 50%;
}
.events-card-data-date {
  display: flex;
  flex-direction: column;
}
.events-card-data-date-day {
  color: green;
  font-weight: bold;
  text-align: center;
}
.events-card-data-date-monthYear {
  display: flex;
  justify-content: space-between;
}
.events-card-locPreu {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.default-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 4rem;
}
.default-form div {
  padding: 1.2rem;
}
.default-form div.input-unit {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.default-form div.row-unit {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.default-form div.container-quarter {
  width: 25%;
}
.default-form div.container-half {
  width: 50%;
}
.default-form div.container-full {
  width: 100%;
}
.default-form input,
.default-form select {
  padding: 0.6rem;
  border-radius: 4px;
}

.category-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  width: 90%;
}
.category-card-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #05283d;
  padding: 0.5rem 1rem;
}
.category-card-data-name {
  font-size: 250%;
  font-weight: bold;
}
.category-card-data-total {
  display: flex;
  flex-direction: column;
}
.category-card-data-total-label {
  text-align: center;
  font-size: 80%;
}
.category-card-data-total-number {
  text-align: center;
  font-size: 200%;
  font-weight: bold;
}
.category-card-events {
  display: flex;
  flex-direction: row;
  min-height: 5rem;
}
.category-card-more {
  display: flex;
  justify-content: center;
}

.oscuro {
  font-family: "Source Sans 3", sans-serif;
  color: #fdf7f7;
  font-weight: normal;
  font-size: 100%;
  margin: 0;
  background-color: #05283d;
}
.oscuro .container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}
.oscuro .container .center {
  max-width: 320px;
  width: 100%;
}
.oscuro .container .center .login {
  width: 100%;
  padding: 50px 30px;
  border: 3px solid #fdf7f7;
  border-radius: 4px;
}
.oscuro .container .center .login .title {
  font-family: "Fjalla One", sans-serif;
  font-size: 250%;
  color: #fdf7f7;
  text-align: center;
  margin-bottom: 2.5rem;
}
.oscuro .container .center .login form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.oscuro .container .center .login input {
  font-family: "Source Sans 3", sans-serif;
  font-size: 110%;
  color: #1b262c;
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 2rem;
  padding: 5px 5px 5px 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
}
.oscuro .container .center .login .msg-error {
  color: #da0000;
  padding: 10px;
}
.oscuro .container .center .login .msg-correct {
  color: #72c487;
  padding: 10px;
}
.oscuro .container .center .login .footer {
  font-size: 90%;
  text-align: center;
  margin-top: 15px;
}
.oscuro .container .center .login .footer a {
  display: block;
  margin-bottom: 3px;
}
.oscuro .container .center .inferior {
  margin-top: 10px;
  font-size: 90%;
  text-align: center;
}
.oscuro .container .center .inferior a {
  display: block;
  margin-bottom: 3px;
}

/*# sourceMappingURL=style.css.map */
