/* El contenedor padre ocupa todo el alto de pantalla y contendrá el nav y el main en forma de columna */
body {
    background-color: $col-oscuro-2;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}
main {
    width: 100%;
    margin-top: 12.5%;
}