/* El contenedor padre ocupa todo el alto de pantalla y contendrá el nav y el main en forma de columna */
body,
html {
    background-color: $col-oscuro-2;
    height: 100%;
}
body > .grid-container {
    grid-template-rows: 15% 1fr;
    gap: 0;
    height: 100vh;

    @include respond-to(426px) {
        grid-template-rows: auto 1fr;
    }
}

.nav {
    position: sticky;
    z-index: 100;

    .nav-main {
        padding: 0 1rem;
    }
    .filter-categories {
        margin: 0 1rem;
    }
}

.body-container {
    padding: 1rem;
    overflow-y: auto;
    main {
        @include flex-container(column, nowrap);
        width: 100%;
        align-items: center;
        .titulo-cabecera {
            margin: 2rem 0;
        }
        .titulo-seccion {
            margin: 1.5rem 0;
        }
        .main-content {
            width: 100%;
            @include flex-container(column, nowrap);
            align-items: center;
            @include respond-to(765px) {
                max-width: 90%;
            }
        }
    }
}
