.icon-button {
   padding: 1rem;
   margin-left: 0.5rem;
   background-color: $col-oscuro;
   color: $col-brand;
   &-buy{
      background-color: $col-brand;
      color: $col-claro;
      padding: .5rem;
      border-radius: 4px;
   }
   &-details{
      width: 64px;
      margin-left: 0.5rem;
      background-color: $col-oscuro;
      color: $col-brand;
      padding: .5rem;
      border-radius: 4px;
   }

   &:hover {
      color: $col-claro;
      cursor: pointer;
   }

   i {
      font-size: 1.5rem;
   }
}

.button {

   &-brand {
      background-color: $col-brand;
      font-size: 110%;
      width: 100%;
      color: $col-claro;
      height: 40px;
      border: none;
      border-radius: 3px;
      margin-top: 10px;
      transition: 0.2s ease;

      &:hover {
         cursor: pointer;
         background-color: transparent;
         border: 1px solid $col-brand;
         color:$col-brand;
      }
   }
}

.filter-button{
   background-color: $col-oscuro;
   color: $col-brand;
   padding: 1rem;
   &:hover{
      color: $col-claro;
      cursor: pointer;
   }
}

.filter-button{
   background-color: $col-oscuro;
   color: $col-brand;
   padding: 1rem;
   &:hover{
      color: $col-claro;
      cursor: pointer;
   }
}