.button {
    font-size: 110%;
    width: 100%;
    border-radius: 4px;
    transition: 0.2s ease;
    padding: 0.6rem;

    i {
        font-size: 1.5rem;
    }

    &:hover {
        cursor: pointer;
    }

    &-brand {
        @include brand-bg;
        border: 1px solid $col-brand;

        &:hover {
            background-color: transparent;
            color: $col-brand;
            border: 1px solid $col-brand;
        }
    }

    &-dark {
        @include dark-bg;
        border: 1px solid $col-oscuro;
        &:hover {
            background-color: transparent;
            color: $col-oscuro;
            border: 1px solid $col-oscuro;
        }
    }
    &-filter {
        background-color: $col-brand;
        color: $col-oscuro;
        padding: 1rem;
        &:hover {
            color: $col-claro;
            cursor: pointer;
        }
    }
    &-icon {
        height: 2rem;
        max-width: 2rem;
        color: $col-brand;
        background-color: transparent;

        i {
            font-size: 1.5rem;
        }

        &:hover {
            color: $col-claro;
        }
    }
}

a.button,
button.button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
}
nav .button-icon i {
    &.fa-bars-staggered {
        color: $col-claro;
    }

    &.fa-bars {
        color: $col-brand;
    }
}
nav form .button-icon {
    @include brand-bg;
    height: 2rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    i {
        font-size: 1.2rem;
    }
}
