dialog {
   top: 40%;
   left: 50%;
   transform: translateX(-50%);
   padding: 1.4rem;
   @include card-shape;
   @include dark-bg;
   position: relative;

   div {
      display: grid;
    grid-auto-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
    justify-items: center;

      p {
         font-size: 2rem;
         grid-column: 1/3;
         padding: 1rem;
      }

      #cancelButton{
         grid-column: 1;
         grid-row: 2;
      }

      #confirmButton{
         grid-column: 2;
         grid-row: 2;
      }
   }

   &.corner-button {
      position: absolute;
      right: 0;
      top: 0;
   }
}

.alert {
   padding: 15px;
   margin-bottom: 20px;
   border: 1px solid transparent;
   border-radius: 4px;

   &-success{
      color: $col-fb-green;
      background-color: $col-oscuro;
      
   }

   &-danger{
      color: $col-fb-danger;
      background-color: $col-oscuro;
      
   }
}
