// .default-form {
//     @include flex-container(row, wrap);
//     padding: 4rem;
//     div {
//         padding: 1.2rem;
//         &.input-unit {
//             @include flex-container(column);
//         }
//         &.row-unit {
//             @include flex-container();
//         }
//         &.container-quarter {
//             width: 25%;
//         }
//         &.container-half {
//             width: 50%;
//         }
//         &.container-full {
//             width: 100%;
//         }
//     }
//     input,
//     select, textarea {
//         padding: 0.6rem;
//         border-radius: 4px;
//     }
// }

.default-form {
    > .grid-container {
        padding: 0 1rem;
    }
    .grid-container {
        grid-template-columns: 1fr;
        gap: 1.2rem;
        .input-unit {
            display: grid;
            grid-template-columns: minmax(0, 1fr);
            gap: 0.3rem;
            align-items: center;
        }

        .dual-button-container {
            @include flex-container(column, nowrap);
        }
        .alert {
            color: $col-contraste;
        }

        .alert-success {
            color: $col-fb-green;
        }

        .row-unit {
            display: flex;
            align-items: center;

            label {
                margin-left: 1rem;
            }

            input[type="checkbox"],
            input[type="radio"] {
                margin: 0; /* Reset margin */
            }
        }

        input:not([type="checkbox"]):not([type="radio"]):not([type="file"]),
        select,
        textarea {
            width: 100%;
            padding: 0.6rem;
            border: 2px solid $col-claro;
            border-radius: 4px;
            box-sizing: border-box;
            background-color: $col-oscuro;
            &:focus {
                outline: none;
                border-color: $col-brand;
                box-shadow: 0 0 5px $col-brand;
            }
        }
    }
}
