// Fuentes */
$fjalla: "Fjalla One", sans-serif;
$playfair: "Playfair Display", serif;
$sourcesans: "Source Sans 3", sans-serif;

// Colores */
$col-oscuro: #05283d;
// $col-oscuro-2: #10364e;
$col-oscuro-2: #154766;
$col-claro: #fdf7f7;
$col-brand: #40e0d0;
$col-contraste: #ff6f61;
$col-fb-green: #72c487;
$col-gb-danger: #da0000;
