/* Fuentes */
   $fjalla: "Fjalla One", sans-serif;
   $playfair: "Playfair Display", serif;
   $sourcesans: "Source Sans 3", sans-serif;

 /* Colores */
   $col-oscuro: #282020;
   $col-brand: #d74748;
   $col-claro: #fdf7f7;
   $col-fb-green: #72c487;
   $col-gb-danger: #da0000;