/* Formateo inicial de espacios y bordes */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

.col-brand {
    @include dark-bg;
}

.col-dark {
    @include brand-bg;
}
