/* Formato inicial de fuente para el sitio web */
html {
    font-family: $sourcesans;
    font-size: 16px;
    color: $col-claro;

    @include respond-to(768px) {
        font-size: 18px;
    }
}

.titulo {
    &-brand {
        font-family: $fjalla;
        font-size: 70px;
    }
}

a,
.text-link {
    color: $col-brand;
    text-decoration: none;
    &:hover {
        color: $col-claro;
    }
}

button {
    font-size: 16px;

    @include respond-to(768px) {
        font-size: 18px;
    }
}
