/* Formato inicial de fuente para el sitio web */
html {
    font-family: $sourcesans;
    font-size: 16px;
    color: $col-claro;

    @include respond-to(768px) {
        font-size: 18px;
    }
}

.titulo {
    &-brand {
        font-family: $fjalla;
        font-size: 70px;
    }
    &-cabecera {
        font-family: $fjalla;
        text-align: center;
        font-size: 70px;
        @include respond-to(1024px) {
            font-size: 100px;
        }
    }
    &-seccion {
        font-family: $fjalla;
        text-align: center;
        font-size: 40px;
        @include respond-to(1024px) {
            font-size: 50px;
        }
    }
}

h2 {
    font-family: $fjalla;
}

a,
.text-link {
    color: $col-brand;
    text-decoration: none;
    &:hover {
        color: $col-claro;
    }
}

button {
    font-size: 16px;

    @include respond-to(768px) {
        font-size: 18px;
    }
}

.msg {
    &-error {
        color: $col-fb-danger;
        padding: 10px;
    }

    &-correct {
        color: $col-fb-green;
        padding: 10px;
    }

    &-info {
        margin: 1rem 0 1rem 2rem;
        padding-bottom: 0.2rem;
        border-right: 0.2rem solid $col-contraste;
        font-weight: lighter;
    }
}
